@page
@model DotnetCoreFundamentals.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>ClientRestaurants</h1>

<table class="table" id="restaurants">
</table>


@section Scripts {
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <script>
        $(function () {
            const cuisines = ["Unknown", "Mexican", "Italian", "Indian"];

            $.ajax(
                "/api/Restaurants/",
                { method: "get" }
            )
            .then(res => {
                $("#restaurants").dataTable({
                    data: res,
                    columns: [
                        { "data": "name" },
                        { "data": "location" },
                        { "data": "cuisine", "render": data => cuisines[data] },
                    ],
                });
            })
        })
    </script>
}
